*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:bisque;
}

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.img{
    height: 100%;
    width: 100%;
}

.card {
    max-width: 600px;
    padding: 16px;
    background-color: whitesmoke;
    margin: 16px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px grey;
}

.buttons{
    display: flex;
    flex-direction:row;
    max-width: 600px;
}

.btn1{
    padding: 8px;
    margin-right: 20px;
}
.btn2{
    padding: 8px;
}

@media screen and (max-width: 1280px) { 
.card {
    max-width: 900px;
    padding: 16px;
    background-color: whitesmoke;
    margin: 16px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px grey;
}

} 
@media screen and (max-width: 1140px) { 
.card {
    max-width: 600px;
    padding: 16px;
    background-color: whitesmoke;
    margin: 16px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px grey;
}} 
@media screen and (max-width: 992px) { .card {
    max-width: 600px;
    padding: 16px;
    background-color: whitesmoke;
    margin: 16px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px grey;
} } 
